body {
    height: 100%;
    width: 100%;
    margin: 0%;
}

header {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.container {
    width: 100%;
}

.part3 {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flip {
    height: 200px;
    width: 200px;
    padding: 2px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153 249 236);
    border-radius: 25px;
    flex-basis: 292px;
    box-shadow: 2px 2px 2px 2px black;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
    font-family: cursive;
    text-align: center;
}

.flip:hover {
    color: white;
    background-color: rgb(39 35 35);
    height: 210px;
    width: 210px;
    font-size: 25px;
}

.navbar {
    border: rgb(179, 117, 117);
    background-color: rgb(58 251 225);
    background-image: linear-gradient(to right, rgba(17, 15, 3, 0), rgb(48 61 175));
    padding: 2px 3px;
    /* border-radius: 50px; */
    /* z-index: 2; */
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.navigation {
    text-decoration: none;
    color: black;
}

.brother {
    display: flex;
    justify-content: center;
}

.item {
    padding: 2px 33px;
    list-style: none;
    color: rgb(15, 1, 1);
}

a {
    transition: all 1s ease-in-out;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.Section {
    background-image: linear-gradient(to left, rgb(151 151 151), rgb(235 235 243));
    /* border: 2px solid red; */
    height: 358px;
    padding-right: 55px;
    padding-top: 55px;
    background-repeat: no-repeat;
}

.heading {
    font-size: 28px;
}

.h2 {
    padding-top: 3px;
    line-height: 1.8;
    margin-top: -14px;
    font-size: 27px;
    font-family: 'Righteous', cursive;
    padding-right: 151px
}

.h1 {
    padding-bottom: 2px;
    margin-bottom: 3px;
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 2px #3dc6b3;
    padding-right: 198px;
}

.quote {
    padding-left: 858px;
}

.part4 {
    display: flex;
    /* border: 2px solid rgb(179, 117, 117); */
    padding: 28px 3px;
    margin: 118px;
    background-color: rgb(39 35 35);
    flex-wrap: wrap;
    box-shadow: rgb(71 183 158) -4px 22px 34px 6px;
    border-radius: 7px;
}

.part4-body {
    padding-left: 83px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.create {
    padding-left: 169px;
}

.name2 {
    padding-left: 72px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
}

#submit-button {
    border-radius: 20px;
    border: 2px solid rgb(122, 78, 78);
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    font-size: 16px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 0px 2px;
}

#submit-button:hover {
    color: black;
    cursor: pointer;
    background-color: rgb(177, 163, 163);
}

#status {
    cursor: pointer;
    font-family: auto;
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 7px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

#status:hover {
    border: 4px solid black;
    cursor: pointer;
}

.email {
    padding-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

#email1 {
    border-radius: 7px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

#email1:hover {
    border: 4px solid black;
    cursor: pointer;
}

#name {
    border-radius: 7px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

#name:hover {
    border: 4px solid black;
    cursor: pointer;
}

.photo {
    display: block;
    position: absolute;
    top: 82px;
    left: 24px;
    animation-name: Book;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    width: 28%;
}

@keyframes Book {
    0% {
        right: 23px;
        left: 24px;
    }
    25% {
        right: 90px;
        left: 30px;
    }
    50% {
        right: 100px;
        left: 35px;
    }
    100% {
        right: 23px;
        left: 24px;
    }
}
