body {
    height: 100%;
    width: 100%;
    margin: 0%;
}

header {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.container {
    width: 100%;
}

.brocode {
    font-family: cursive;
    text-align: center;
    list-style: none;
}

.baarish:nth-child(2) {
    color: blue;
}

.baarish span:nth-child(2n+1) {
    color: blue;
}

.part3 {
    height: 100%;
    width: 100%;
    border: 2px solid red;
    background: url("https://source.unsplash.com/random") no-repeat center center/cover;
}

#part3-head {
    text-align: center;
    text-decoration: underline;
    padding-left: 30px;
    border: orangered;
    font-size: 3rem;
    margin-top: 2px;
}

.navbar {
    border: rgb(179, 117, 117);
    background-color: rgb(179, 117, 117);
    padding: 2px 3px;
    /* border-radius: 50px; */
    /* z-index: 2; */
}

.navigation {
    text-decoration: none;
    color: black;
}

.brother {
    display: flex;
    justify-content: center;
}

.item {
    padding: 2px 33px;
    list-style: none;
    color: rgb(15, 1, 1);
}

a {
    transition: all 1s ease-in-out;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.Section {
    background: url("/img/back-img.jpg") no-repeat center center/cover;
    /* border: 2px solid red; */
    height: 358px;
    padding-right: 55px;
    padding-top: 55px;
    background-repeat: no-repeat;
}

.heading {
    font-size: 28px;
}

.h2 {
    padding-top: 3px;
    line-height: 1.8;
    margin-top: -14px;
    font-size: 32px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.h1 {
    padding-bottom: 2px;
    margin-bottom: 3px;
    font-family: monospace;
    text-shadow: 1px 1px 2px red;
}

.quote {
    padding-left: 1036px;
}

.part4 {
    display: flex;
    border: 2px solid rgb(179, 117, 117);
    padding: 28px 3px;
    margin: 118px;
    background-color: rgb(179, 117, 117);
    flex-wrap: wrap;
    box-shadow: -4px -2px 180px 50px red;
}

.part4-body {
    padding-left: 83px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.create {
    padding-left: 169px;
}

.name2 {
    padding-left: 72px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#submit-button {
    border-radius: 20px;
    border: 2px solid rgb(122, 78, 78);
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    font-size: 16px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 0px 2px purple;
}

#submit-button:hover {
    color: black;
    cursor: pointer;
    background-color: rgb(177, 163, 163);
}

#status {
    cursor: pointer;
    font-family: auto;
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 7px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

#status:hover {
    border: 4px solid black;
    cursor: pointer;
}

.email {
    padding-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#email1 {
    border-radius: 7px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

#email1:hover {
    border: 4px solid black;
    cursor: pointer;
}

#name {
    border-radius: 7px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

#name:hover {
    border: 4px solid black;
    cursor: pointer;
}

.photo {
    display: block;
    position: absolute;
    top: 82px;
    left: 24px;
    animation-name: Book;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    width: 50%;
}

@keyframes Book {
    0% {
        top: 82px;
        left: 24px;
    }
    25% {
        top: 90px;
        left: 30px;
    }
    50% {
        top: 100px;
        left: 35px;
    }
    100% {
        top: 82px;
        left: 24px;
    }
}